@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    /*Paleta de cores*/
    --first-color:#070d17;
    --second-color:#093e38;
    --third-color:#0a8967;
    --fourth-color:#09c184;
    --fifth-color:#07f9a2;
}

body {
    font-family: 'inter', sans-serif;
    font-size: 15px;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    background: var(--first-color);
    background: linear-gradient(107deg, var(--first-color) 0%, var(--second-color) 100%);
}

a{
    color: var(--third-color);
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 85%;
    height: 90%;
}

.container, .infos-profile, .languages, .most-used-language {
    border-radius: 25px;
}

.container, .user-input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container, .user-infos header {
    background-color: var(--first-color);
}

.home, .user-infos {
    width: 100%;
    height: 100%;
}

/* USER INPUT */
.user-input {
    text-align: center;
    width: 35%;

    display: none;
}

.user-input h2 {
    font-size: 34px;
    margin-bottom: 18px;
}

.user-input label {
    display: block;
    margin-bottom: 10px;
}

/* INPUT BUTTON */
.input-button {
    display: flex;
    justify-content: center;
}

.input-button input{
    width: 100%;
    padding: 0px 10px;
    border: none;
    border-radius: 12px 0px 0px 12px;

    font-size: 14px;
}

.input-button button {
    cursor: pointer;
    color: var(--first-color);
    background-color: var(--third-color);
    width: 60px;
    height: 35px;
    border: none;
    border-radius: 0px 12px 12px 0px;

}

.input-button button:hover {
    transition: 0.3s ease-in;
    background-color: var(--fourth-color);
}

/* USER INFOS */
.user-infos {
    overflow-x: hidden;
    padding-bottom: 23px;
}

.user-infos header{
    position: fixed;
    display: flex;
    justify-content:end;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 1;
    border-radius: 25px 25px 0 0;

}

.user-infos header .input-button button{
    height: 30px;
    width: 40px;
}

.user-infos header .input-button input{
    max-width: 200px;
}

.user-infos nav {
    position: fixed;
    height: 100%;
    width: 196px;
    border-radius: 25px 0 0 25px;
    border-right: 1px solid var(--third-color);

    text-align: center;
    z-index: 2; 
}

.user-infos nav h2 {
    font-size: 20px;
    margin: 23px 0;
    color: #fff;
}

.user-infos nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 532.5px;
    height: 100%;
}

/* INFOS */
.infos{
    padding-top: 70px;
    padding-left: 226px;
    padding-right: 30px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.infos::-webkit-scrollbar {
    display: none;
}

.user-infos header, .user-infos nav {
    padding: 0px 30px;
}

.infos-profile {
    overflow: hidden;
    display: flex;
    padding: 14px 20px;
    background-color: var(--third-color);
}

.user-img {
    height: 100%;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.user-img img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.user-bio {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

.user-bio h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.github-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.github-infos div {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.github-infos div svg {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.github-infos div p:first-of-type {
    margin-right: 8px;
}

/* GRAPHIC */
.infos-language-graphic {
    display: flex;
    gap: 30px;
    height: 100%;
    max-height: 300px;
    margin-top: 30px;
}

.languages, .most-used-language{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: var(--second-color);
}

.languages {
    justify-content: space-around;
}

.languages h5 {
    font-size: 17px;
}

.language-graphic {
    width: 100%;
}

.most-used-language {
    justify-content: center;
    align-items:center;
    text-align: center;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.most-used-language h5 {
    font-size: 17px;
    margin-bottom: 14px;   
}

.most-used-language svg {
    width: 45px;
    height: 45px;
}

.most-used-language p {
    margin-top: 8px;
}